.main-container {
  display: flex;
  flex-direction: row;
  z-index: 0;
  width: 1000px;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap:0; /* optional spacing between top card and forecast */
}

.moveleft1 {
  padding-left: 20px;
}
